In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/melb_data.csv')
original = df
df

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13580 rows x 21 columns]

In [ ]:
df.rename(columns={
    'Lattitude': 'Latitude',
    'Longtitude': 'Longitude'
},inplace= True)

In [ ]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Latitude',
       'Longitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
df.info

<bound method DataFrame.info of               Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13580 rows x 21 columns]>

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.isnull().sum().sort_values(ascending = False)

BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Car                62
Propertycount       0
Date                0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Bedroom2            0
Distance            0
Postcode            0
Regionname          0
Bathroom            0
Landsize            0
Latitude            0
Longitude           0
Suburb              0
dtype: int64

In [ ]:
#df.isnull().sum() >0  or
d = df.isnull().any()
d.head()

Suburb     False
Address    False
Rooms      False
Type       False
Price      False
dtype: bool

In [ ]:
 index = d.index[d.values]
 index

Index(['Car', 'BuildingArea', 'YearBuilt', 'CouncilArea'], dtype='object')

In [ ]:
df.isnull().all(axis = 0).sum()

0

In [ ]:
df.isnull().sum().sort_values(ascending=False)/len(df)*100

BuildingArea     47.496318
YearBuilt        39.580265
CouncilArea      10.081001
Car               0.456554
Propertycount     0.000000
Date              0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price             0.000000
Method            0.000000
SellerG           0.000000
Bedroom2          0.000000
Distance          0.000000
Postcode          0.000000
Regionname        0.000000
Bathroom          0.000000
Landsize          0.000000
Latitude          0.000000
Longitude         0.000000
Suburb            0.000000
dtype: float64

In [ ]:
df.isnull().sum().sort_values(ascending=False)/len(df)*100

BuildingArea     47.496318
YearBuilt        39.580265
CouncilArea      10.081001
Car               0.456554
Propertycount     0.000000
Date              0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price             0.000000
Method            0.000000
SellerG           0.000000
Bedroom2          0.000000
Distance          0.000000
Postcode          0.000000
Regionname        0.000000
Bathroom          0.000000
Landsize          0.000000
Latitude          0.000000
Longitude         0.000000
Suburb            0.000000
dtype: float64

In [ ]:
len(df[df.isnull().sum(axis=1)>0])/len(df)*100

54.3740795287187

In [ ]:
df = df[df.isnull().sum(axis=1)<=5]
df

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13580 rows x 21 columns]

In [ ]:
df.isnull().sum().sort_values(ascending=False)/len(df)*100

BuildingArea     47.496318
YearBuilt        39.580265
CouncilArea      10.081001
Car               0.456554
Propertycount     0.000000
Date              0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price             0.000000
Method            0.000000
SellerG           0.000000
Bedroom2          0.000000
Distance          0.000000
Postcode          0.000000
Regionname        0.000000
Bathroom          0.000000
Landsize          0.000000
Latitude          0.000000
Longitude         0.000000
Suburb            0.000000
dtype: float64

In [ ]:
df['Landsize'].describe()

count     13580.000000
mean        558.416127
std        3990.669241
min           0.000000
25%         177.000000
50%         440.000000
75%         651.000000
max      433014.000000
Name: Landsize, dtype: float64

In [ ]:
df = df[df['BuildingArea'].notnull()]
df

             Suburb          Address  ...             Regionname Propertycount
1        Abbotsford  25 Bloomburg St  ...  Northern Metropolitan        4019.0
2        Abbotsford     5 Charles St  ...  Northern Metropolitan        4019.0
4        Abbotsford      55a Park St  ...  Northern Metropolitan        4019.0
6        Abbotsford     124 Yarra St  ...  Northern Metropolitan        4019.0
7        Abbotsford    98 Charles St  ...  Northern Metropolitan        4019.0
...             ...              ...  ...                    ...           ...
13572      Watsonia    76 Kenmare St  ...  Northern Metropolitan        2329.0
13573      Werribee      5 Nuragi Ct  ...   Western Metropolitan       16166.0
13576  Williamstown    77 Merrett Dr  ...   Western Metropolitan        6380.0
13578  Williamstown     96 Verdon St  ...   Western Metropolitan        6380.0
13579    Yarraville       6 Agnes St  ...   Western Metropolitan        6543.0

[7130 rows x 21 columns]

In [ ]:
df = df[df['CouncilArea'].notnull()]
df

             Suburb          Address  ...             Regionname Propertycount
1        Abbotsford  25 Bloomburg St  ...  Northern Metropolitan        4019.0
2        Abbotsford     5 Charles St  ...  Northern Metropolitan        4019.0
4        Abbotsford      55a Park St  ...  Northern Metropolitan        4019.0
6        Abbotsford     124 Yarra St  ...  Northern Metropolitan        4019.0
7        Abbotsford    98 Charles St  ...  Northern Metropolitan        4019.0
...             ...              ...  ...                    ...           ...
12205    Whittlesea    30 Sherwin St  ...      Northern Victoria        2170.0
12206  Williamstown      75 Cecil St  ...   Western Metropolitan        6380.0
12207  Williamstown    2/29 Dover Rd  ...   Western Metropolitan        6380.0
12209       Windsor  201/152 Peel St  ...  Southern Metropolitan        4380.0
12212    Yarraville  54 Pentland Pde  ...   Western Metropolitan        6543.0

[6446 rows x 21 columns]

In [ ]:
df.isnull().sum().sort_values(ascending=False)/len(df)*100

Propertycount    0.0
Postcode         0.0
Address          0.0
Rooms            0.0
Type             0.0
Price            0.0
Method           0.0
SellerG          0.0
Date             0.0
Distance         0.0
Bedroom2         0.0
Regionname       0.0
Bathroom         0.0
Car              0.0
Landsize         0.0
BuildingArea     0.0
YearBuilt        0.0
CouncilArea      0.0
Latitude         0.0
Longitude        0.0
Suburb           0.0
dtype: float64

In [ ]:
df.loc[:,['Latitude','Longitude']].describe()

          Latitude    Longitude
count  6446.000000  6446.000000
mean    -37.807959   144.990327
std       0.075885     0.099155
min     -38.164920   144.542370
25%     -37.855497   144.926100
50%     -37.802400   144.995950
75%     -37.758200   145.052800
max     -37.457090   145.526350

In [ ]:
df['Latitude'].mean()

-37.80795890009303

In [ ]:
#df.loc[:,'Latitude'].fillna(df['Latitude'].mean(),inplace = True)

In [ ]:
#df.loc[:,'Longitude'].fillna(df['Longitude'].mean(),inplace = True)

In [ ]:
#df.groupby('BuildingArea').BuildingArea.count().sort_values(ascending=False)

In [ ]:
df.loc[:,'YearBuilt'].fillna(2000,inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
df.loc[:,'Car'].fillna(2,inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
df.isnull().sum().sort_values(ascending=False)/len(df)*100

Propertycount    0.0
Postcode         0.0
Address          0.0
Rooms            0.0
Type             0.0
Price            0.0
Method           0.0
SellerG          0.0
Date             0.0
Distance         0.0
Bedroom2         0.0
Regionname       0.0
Bathroom         0.0
Car              0.0
Landsize         0.0
BuildingArea     0.0
YearBuilt        0.0
CouncilArea      0.0
Latitude         0.0
Longitude        0.0
Suburb           0.0
dtype: float64

In [ ]:
len(df)

6446

In [ ]:
len(df)/len(original) * 100

47.46686303387334